@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,h2,h3,h4,h5,p,a, button, span, input, select{
    font-family: 'Poppins', sans-serif !important;
    color: black;
}

.projetos h1,.projetos h2,.projetos h3,.projetos h4, .projetos h5,.projetos p,.projetos a{
    color: black;
}

html{
    scroll-behavior: smooth;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body{
    background-color: #eeeeee;
    margin: 0px;
}

main{
    margin-top: 100px;
}

.mainMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #32bfd1;
    z-index: 99;
}

.menuUl{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 20px;
    width: 50%;
}

.links1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    margin: 20px 35px 20px 20px;
}

.links1 i{
    font-size: 1.6rem;
}

nav a{
    text-decoration: none;
    color: #eeeeee;
}

nav a:hover{
    color: #eeeeee;
}

#menuCheck{
    display: none;
}

section{
    margin-top: 100px;
}

.inicio h1, .inicio p, .projetos h1, .projetos p{
    text-align: center;
}

.inicio h1{
    margin-bottom: 30px;
}

.inicio img{
    width: 100%;
}

.inicio, .inicioDiv{
    max-height: 70%;
}

.titulo2, .titulo3, .titulo4{
    text-align: center;
    margin-bottom: 20px;
}

.carouselDiv{
    display: flex;
    justify-content: center;
}

.carouselCenter{
    display: flex;
    justify-content: center;
}

.carousel-caption{
    background-color: rgba(68, 68, 68, 0.9);  
}

.fa-angle-right, .fa-angle-left{
    font-size: 3.0rem;
    color: black;
}

.carousel-item.active{
    display: flex;
    justify-content: center;
}

.carouselCenter p, .carouselCenter h5{
    color: #eeeeee;
}

.carouselCenter img{
    height: auto;
}

.inicioOutsideDiv{
    background-color: #56cfe0;
    margin-bottom: 130px;
}

.inicioOutsideDiv::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: -1;
    background-color: #56cfe0;
    transform: translateY(-100px);
}

.inicioOutsideDiv::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: -1;
    background-color: #56cfe0;
    transform: skewY(-5deg) translateY(-130px);
    box-shadow: 0px 5px 12px grey;
}

/************ breakpoint ******************/

@media screen and (max-width: 440px) {
    .inicioOutsideDiv::after{
        transform: skewY(-5deg) translateY(-150px);
    }
}

/************** end breakpoint *******************/

.sobreOutsideDiv{
    margin-top: 160px;
    background-color: #56cfe0;
}

.sobreOutsideDiv::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: -1;
    background-color: #56cfe0;
    transform: skewY(-5deg) translateY(-70px);
    box-shadow: 0px -5px 12px grey;
}

.sobreOutsideDiv::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: -1;
    background-color: #56cfe0;
    transform: skewY(-5deg) translateY(-90px);
    box-shadow: 0px 5px 12px grey;
}

.card-mine{
    background-color: #eeeeee;
    width:100%;
	height:226px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 4px 4px 10px grey;
    transition: all 0.2s ease;
}

.card-mine:hover{
    box-shadow: 0px 0px 0px ;
}

.col-6.col-lg-3{
    margin-bottom: 10px;
}

.frontCard{
    background-color: #32bfd1 !important;
    position: relative;
    width:100%;
	height:100%;
    z-index: 10;
    transition: all 0.5s ease;
    bottom:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.behindCard{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 8px grey inset;
    padding: 10px;
}

.fa-plus-square{
    font-size: 1.4rem;
}

.frontCard h5, .frontCard h5{
    text-align: center;
}

.col-6.col-lg-3:hover .frontCard{
    bottom:-300px;
	transition: all 0.5s ease;
}

.col-6.col-lg-3:hover{
    transition: 0.5s;
}

footer{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
}

/**************************************** Desktop **************************************/

@media screen and (min-width:577px) {
    .menuLabel{
        display: none;
    }
}



/************************************ Mobile ******************************************/

@media screen and (max-width:576px) {

    main, .inicio{
        margin-top: 30px;
    }

    nav{
        position: sticky;
        justify-content: flex-end;
        height: 60px;
    }

    .menuUl, .links1{
        flex-direction: column;
        font-size: 1.5rem;
        margin-bottom: 100px;
        padding: 0;
    }

    .menuUl a, .links1 a{
        padding-bottom: 20px;
    }

    .links1 a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
    }

    .links1 a:nth-child(1):after{
        content: 'Instagram';
    }

    .links1 a:nth-child(2):after{
        content: 'Email';
    }

    .links1 a:nth-child(3):after{
        content: 'Github';
    }

    .links1 a:nth-child(4):after{
        content: 'Currículo';
    }

    .mainMenu{
        justify-content: flex-start;
        top: 0;
        position: absolute;
        transform: translateX(-200%);
        transition: all 0.5s ease;
        height: 1400%;
        width: 82%;
        flex-direction: column;
        background-color: #32bfd1;
        box-shadow: 0px 4px 10px grey;
    }

    .menuLabel{
        font-size: 1.6rem;
        margin-right: 20px;
        z-index: 2;
    }

    #menuCheck:checked ~ label i:nth-child(2){
        display: block;
    }
    
    #menuCheck:checked ~ label i:first-child{
        display: none;
    }
    
    #menuCheck:not(checked) ~ label i:nth-child(2){
        display: none;
    }
    
    #menuCheck:not(checked) ~ label i:first-child{
        display: block;
    }

    #menuCheck:checked ~ .mainMenu{
        transform: translateX(-22%);
    }
}



/******************************************** fade in left *******************************************************/

.fadeInLeft{
    -webkit-animation: fadeInLeft 1.2s both; /* Safari 4+ */
    -moz-animation: fadeInLeft 1.2s both; /* Fx 5+ */
    -o-animation: fadeInLeft 1.2s both; /* Opera 12+ */
    animation: fadeInLeft 1.2s both; /* IE 10+, Fx 29+*/
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
  }

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes fadeInLeft{
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/********************************** fade in right ***********************************************************/

.fadeInRight{
    -webkit-animation: fadeInRight 1.2s both; /* Safari 4+ */
    -moz-animation: fadeInRight 1.2s both; /* Fx 5+ */
    -o-animation: fadeInRight 1.2s both; /* Opera 12+ */
    animation: fadeInRight 1.2s both; /* IE 10+, Fx 29+*/
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
  }

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(50px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes fadeInRight{
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/**************************** fade out left **********************************/

.fadeOutLeft{
    -webkit-animation: fadeOutLeft 1.2s both; /* Safari 4+ */
    -moz-animation: fadeOutLeft 1.2s both; /* Fx 5+ */
    -o-animation: fadeOutLeft 1.2s both; /* Opera 12+ */
    animation: fadeOutLeft 1.2s both; /* IE 10+, Fx 29+*/
}

@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
  }

@-moz-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -moz-transform: translateX(-50px);
    }
}

@-o-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -o-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -o-transform: translateX(-50px);
    }
}

@keyframes fadeOutLeft{
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50px);
    }
}

/************************** fade out right **************************************************/

.fadeOutRight{
    -webkit-animation: fadeOutRight 1.2s both; /* Safari 4+ */
    -moz-animation: fadeOutRight 1.2s both; /* Fx 5+ */
    -o-animation: fadeOutRight 1.2s both; /* Opera 12+ */
    animation: fadeOutRight 1.2s both; /* IE 10+, Fx 29+*/
}

@-webkit-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
  }

@-moz-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -moz-transform: translateX(-50px);
    }
}

@-o-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -o-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -o-transform: translateX(-50px);
    }
}

@keyframes fadeOutRight{
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50px);
    }
}

/********************************** fade in down ***********************************************************/

.fadeInDown{
    -webkit-animation: fadeInDown 1.2s both; /* Safari 4+ */
    -moz-animation: fadeInDown 1.2s both; /* Fx 5+ */
    -o-animation: fadeInDown 1.2s both; /* Opera 12+ */
    animation: fadeInDown 1.2s both; /* IE 10+, Fx 29+*/
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
  }

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInDown{
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/************************** fade out down **************************************************/

.fadeOutDown{
    -webkit-animation: fadeOutDown 1.2s both; /* Safari 4+ */
    -moz-animation: fadeOutDown 1.2s both; /* Fx 5+ */
    -o-animation: fadeOutDown 1.2s both; /* Opera 12+ */
    animation: fadeOutDown 1.2s both; /* IE 10+, Fx 29+*/
}

@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
  }

@-moz-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
    100% {
        opacity: 0;
        -moz-transform: translateY(-50px);
    }
}

@-o-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -o-transform: translateY(0);
    }
    100% {
        opacity: 0;
        -o-transform: translateY(-50px);
    }
}

@keyframes fadeOutDown{
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}


/********************************** fade in Up ***********************************************************/

.fadeInUp{
    -webkit-animation: fadeInUp 1.2s both; /* Safari 4+ */
    -moz-animation: fadeInUp 1.2s both; /* Fx 5+ */
    -o-animation: fadeInUp 1.2s both; /* Opera 12+ */
    animation: fadeInUp 1.2s both; /* IE 10+, Fx 29+*/
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
  }

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInUp{
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/************************** fade out Up **************************************************/

.fadeOutUp{
    -webkit-animation: fadeOutUp 1.2s both; /* Safari 4+ */
    -moz-animation: fadeOutUp 1.2s both; /* Fx 5+ */
    -o-animation: fadeOutUp 1.2s both; /* Opera 12+ */
    animation: fadeOutUp 1.2s both; /* IE 10+, Fx 29+*/
}

@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }
  }

@-moz-keyframes fadeOutUp {
    0% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
    100% {
        opacity: 0;
        -moz-transform: translateY(50px);
    }
}

@-o-keyframes fadeOutUp {
    0% {
        opacity: 1;
        -o-transform: translateY(0);
    }
    100% {
        opacity: 0;
        -o-transform: translateY(50px);
    }
}

@keyframes fadeOutUp{
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(50px);
    }
}